html{
	font-size: 1vw;
}

.game_wrapper{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	/*using flex display style*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;
}

.image{
	width: 60vw;
	height: auto;
	margin-left:auto;
	margin-right:auto;
}

.game_image{
	width: 60vw;
	height: 45vw;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
}

h1{
	font-size: 2vw;
}

p {
	font-size: 1.5vw;
}

.title{
	width: 100%;
	text-align: center;
	color: black;
	margin-top: 0vw;
}

.button{
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: -30vw;
	margin-bottom: 20vw;
}

.clickable_button{
	width: 20vw;
    height: 5vw;
    font-size: 2vw;
    margin-bottom: 3vw;
    border-radius: 1vw;
}

/*.next-button{
	width: 100%;
	display: flex;
	justify-content:center;
	margin-top: -9vw;
	margin-bottom: -9vw;
	margin-left: 25vw;
	
}

.circular-button{
	height: 8vw;
	width: 8vw;
	border-radius: 50%;
	background-color: rgb(100,100,100);
}*/




.next-button{
	width: 100%;
	display: flex;
	justify-content:center;
	margin-top:1vw;
	margin-bottom: ;
	margin-left: 25vw;
	
}


.circular-button{
	height: 8vw;
	width: 8vw;
	border-radius: 50%;
	align-items: center;

}

#next-pp{
	margin-top: -7.5vw;
}

.game_wrapper_question{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	display: flex;
}

.textbox{
	justify-content: center;	
	background-color: rgb(240,240,240);
	height: 10vw;
	width: 60vw;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4vw;
	margin-bottom: 0vw;
}
